@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'base/_variables';
// @import 'components/header';
@import 'components/footer';
@import 'components/banner';
@import 'components/form';

* {
  margin: 0;
}


body {
  font-family: 'Montserrat', sans-serif;

}

main {
  padding: 20px 20px 60px 20px;
}

.video {
  margin-bottom: 70px;

  iframe {
    width: 100%;
    height: 70vh;
    border-radius: 15px;
  }
}



.panerai,
.omega,
.breitling,
.rolex {
  a {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.rolex {
  a {
    color: rgb(22, 77, 22);
    font-family: 'logo-rolex', Garamond;
  }
}


.origen {
  h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    text-decoration: underline;
  }

  p,
  img,
  span,
  .editorial p {
    margin-bottom: 10px;
  }

  span {
    display: block;
    font-weight: 600;
  }

  img {
    width: 100%;
  }
}


.editorial {
  margin-top: 30px;
  color: blue;
  font-weight: bolder;
  margin-bottom: 70px;
}



.colecciones {
  h1 {
    margin-bottom: 25px;
  }

  section {
    h3 {
      margin-bottom: 10px;
      text-decoration: underline;
    }

    p {
      margin-bottom: 10px;
    }

    a {
      margin-bottom: 25px;
      display: block;
      font-weight: bolder;
    }
  }

  video,
  iframe {
    margin-block-start: 50px;
    height: 70vh;
    width: 100%;
    border-radius: 25px;
  }
}


.tag-heuer {

  background-color: $color-tag-red;

  h1 {
    color: $color-tag-green;
  }

  a {
    color: $color-tag-green;
  }

  .carousel-tag {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    grid-template-areas: 'ca f1 aq mo co' 'ca f1 aq mo co';
  }

  .fa{
    width: 50%;
    margin-top: 50px;
  }

  .carousel-item {
    background-color: $primary-color;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    border: 14px solid rgb(71, 65, 65);
  
    img {
      width: 100%;
      scroll-snap-align: center;
      justify-content: space-around;
    }
  }
  
}

.panerai {

  section {

    a {
      margin-bottom: 25px;
      display: inline-block;
      color: white;
      font-weight: 300px;
      background-color: black;
      padding: 10px;
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto !important;
      border-radius: 25px;
    }

  }

  img {
    width: 70%;
  }
}

.omega {
  h1 {
    color: $color-omega;
    background-color: $bg-omega;
  }

  .fondo-reloj {
    background-image: url('/images/omega-seamaster-diver-300m-omega-diver-splash.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
    height: 130vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 500px;
  }

  .carousel {
    margin-top: 100px;

    .carousel-item {
      background-color: rgb(166, 182, 201);
    }
  }


}

.breitling {
  background-color: $bg-breitling;
  
  h1 {
    color: $color-breitling;
    background-color: $bg-breitling;

  }

  .img-breitling {
    img {
      width: 100%;
    }

    h5 {
      display: flex;
      justify-content: center;
    }
  }
}




.rolex {
  background-color: $bg-rolex;

  h1 {
    color: $color-rolex;
    background-color: $bg-rolex;
  }

  section {
    a {
      margin-bottom: 25px;
      display: block;
      color: $color-rolex;
      font-weight: 700;
    }
  }

  img{
    width: 50%;
  }

}


.pulsate-bck {
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
  animation: pulsate-bck 0.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-25 20:19:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@media only screen and (max-width: 768px) {
  form {
    width: 100% !important;
  }

  .banner {
    nav {
      a {
        img {
          width: 40px !important;
        }
      }
    }
  }

  .carousel-tag {
    display: flex !important;
    flex-direction: column !important;
  }

  .carousel-tag div:nth-child(n) {
    margin-bottom: 20px;
  }
}
