@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'base/_variables';
@import 'base/_extends';
@import 'base/_maps';
@import 'base/_mixins';

@import 'components/header';
@import 'components/banner';
@import 'components/home';
@import 'components/form';
@import 'components/footer';
@import 'components/tag-heuer';
@import 'components/panerai';
@import 'components/omega';
@import 'components/breitling';
@import 'components/rolex';


* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 20px 20px 60px 20px;
}

.video {
  margin-bottom: 70px;

  iframe {
    width: 100%;
    height: 70vh;
    border-radius: 15px;
  }
}


@media only screen and (max-width: 768px) {
  .origen{
    img{
      width: 100% !important;
    }
  }

  form {
    width: 100% !important;
  }

  .banner {
    nav {
      a {
        img {
          width: 40px !important;
        }
      }
    }
  }

  .carousel-tag, .modelos-tag {
    display: flex !important;
    flex-direction: column !important;
  }

  .carousel-tag div:nth-child(n) {
    margin-bottom: 20px;
  }
}
