

.panerai,.breitling {
  a {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.tag {
  a {
    color: $color-tag-red;

    &:hover {
      color: $color-tag-green;
    }
  }  
}

.omega {
  a {
  color: $color-omega; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}

.link-breitling {
    color: $color-breitling-yellow;
    background-color: $color-breitling-blue;
    border-radius: 2%;

    &:hover {
      color: $color-breitling-blue;
      background-color: $color-breitling-yellow;
      border-style: double;
      border-radius: 2%;
      }
  }  

  .resaltado {
    color: $color-rolex-yellow;
    background-color: $color-rolex-green;
    font-family: 'logo-rolex';    
      
    &:hover {
      color: $color-rolex-green;
      background-color: $color-rolex-yellow;
      border-style: double;
      border-radius: 2%;
    }
  }



