

.panerai,.breitling {
  a {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.tag {
  a {
    color: $color-tag-red;
    &:hover {
      color: $color-tag-green;
    }
  }  
}

.omega {
  a {
  color: $color-omega; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}

.link-rolex {
  a {
    color: $color-rolex-green;
    font-family: 'logo-rolex', Garamond;
  }
  a:hover {
    color: $color-rolex-yellow;
  }
}

.link-breitling {
  a {
    color: $color-breitling-blue;
    &:hover {
      color: $color-breitling-yellow;
    }
  }  
}




