/* Extends son como una bolsa de propiedades que podemos reutilizar o heredar en distintos lugares, es decir creamos esto una vez y lo podemos trasladar a muchos lugares en nuestro código */

/* % placeholder + nombre { propiedades */


/* Todos mis botones son iguales en estructura y solo cambia su background color */


%button {
    padding: 10px;
    color: white;
    border-radius: 15px;
}

.button-home {
    @extend %button;
    background-color: rgb(0, 0, 0);
    &:hover{
        background-color: $primary-color;
    }
}