/* Colores */
$primary-color: blue;

$color-tag-red: rgb(233, 83, 83);
$color-tag-green: rgb(21, 139, 84);

$color-omega: rgb(192, 33, 33); 
$color-breitling:rgba(58, 73, 90, 0.993);
$color-rolex: rgb(148, 140, 24);

$bg-tag: rgb(21, 139, 84);

$bg-breitling:rgb(255, 224, 46);

$bg-rolex: rgb(22, 77, 22);

$bg-omega:rgba(88, 147, 202, 0.767);

