/* Colores */
$primary-color: blue;

$color-tag-red: rgb(233, 83, 83);
$color-tag-green: rgb(21, 139, 84);
$color-omega: rgb(192, 33, 33); 
$color-breitling-yellow: rgb(255, 224, 46);
$color-breitling-blue:rgba(58, 73, 90, 0.993);
$color-rolex-yellow: rgb(148, 140, 24);
$color-rolex-green: rgb(22, 77, 22);

$bg-tag: rgb(21, 139, 84);
$bg-breitling:rgb(255, 229, 143);
$bg-omega:rgba(88, 147, 202, 0.767);

